<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :c_id %><br />
    <%= f.number_field :c_id %>
  </div>
  <div class="field">
    <%= f.label :c_name %><br />
    <%= f.text_field :c_name %>
  </div>
  <div class="field">
    <%= f.label :fuel_surcharge %><br />
    <%= f.text_field :fuel_surcharge %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :cod_charge %><br />
    <%= f.text_field :cod_charge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
