<h1>Listing posts</h1>

<table>
  <tr>
    <th>C</th>
    <th>C name</th>
    <th>Fuel surcharge</th>
    <th>Tax</th>
    <th>Weight</th>
    <th>Cod charge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.c_id %></td>
    <td><%= post.c_name %></td>
    <td><%= post.fuel_surcharge %></td>
    <td><%= post.tax %></td>
    <td><%= post.weight %></td>
    <td><%= post.cod_charge %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
