<p id="notice"><%= notice %></p>

<p>
  <b>C:</b>
  <%= @post.c_id %>
</p>

<p>
  <b>C name:</b>
  <%= @post.c_name %>
</p>

<p>
  <b>Fuel surcharge:</b>
  <%= @post.fuel_surcharge %>
</p>

<p>
  <b>Tax:</b>
  <%= @post.tax %>
</p>

<p>
  <b>Weight:</b>
  <%= @post.weight %>
</p>

<p>
  <b>Cod charge:</b>
  <%= @post.cod_charge %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
