<h1>Listing details</h1>

<table>
  <tr>
    <th>Id</th>
    <th>C</th>
    <th>From pin</th>
    <th>To pin</th>
    <th>For 250gms</th>
    <th>For 500gms</th>
    <th>For 1kg</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= detail.id %></td>
    <td><%= detail.c_id %></td>
    <td><%= detail.from_pin %></td>
    <td><%= detail.to_pin %></td>
    <td><%= detail.for_250gms %></td>
    <td><%= detail.for_500gms %></td>
    <td><%= detail.for_1kg %></td>
    <td><%= link_to 'Show', detail %></td>
    <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
    <td><%= link_to 'Destroy', detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detail', new_detail_path %>
