<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @detail.id %>
</p>

<p>
  <b>C:</b>
  <%= @detail.c_id %>
</p>

<p>
  <b>From pin:</b>
  <%= @detail.from_pin %>
</p>

<p>
  <b>To pin:</b>
  <%= @detail.to_pin %>
</p>

<p>
  <b>For 250gms:</b>
  <%= @detail.for_250gms %>
</p>

<p>
  <b>For 500gms:</b>
  <%= @detail.for_500gms %>
</p>

<p>
  <b>For 1kg:</b>
  <%= @detail.for_1kg %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
