<%= form_for(@charge) do |f| %>
  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :courier_id %><br />
    <%= f.number_field :courier_id %>
  </div>
  <div class="field">
    <%= f.label :from_pin %><br />
    <%= f.text_field :from_pin %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.number_field : %>
  </div>
  <div class="field">
    <%= f.label :to_pin %><br />
    <%= f.number_field :to_pin %>
  </div>
  <div class="field">
    <%= f.label :for_250gms %><br />
    <%= f.text_field :for_250gms %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.text_field : %>
  </div>
  <div class="field">
    <%= f.label :for_500gms %><br />
    <%= f.text_field :for_500gms %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.text_field : %>
  </div>
  <div class="field">
    <%= f.label :for_1kg %><br />
    <%= f.text_field :for_1kg %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.text_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
