<h1>Listing charges</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Courier</th>
    <th>From pin</th>
    <th></th>
    <th>To pin</th>
    <th>For 250gms</th>
    <th></th>
    <th>For 500gms</th>
    <th></th>
    <th>For 1kg</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charges.each do |charge| %>
  <tr>
    <td><%= charge.id %></td>
    <td><%= charge.courier_id %></td>
    <td><%= charge.from_pin %></td>
    <td><%= charge. %></td>
    <td><%= charge.to_pin %></td>
    <td><%= charge.for_250gms %></td>
    <td><%= charge. %></td>
    <td><%= charge.for_500gms %></td>
    <td><%= charge. %></td>
    <td><%= charge.for_1kg %></td>
    <td><%= charge. %></td>
    <td><%= link_to 'Show', charge %></td>
    <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
    <td><%= link_to 'Destroy', charge, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charge', new_charge_path %>
