<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @charge.id %>
</p>

<p>
  <b>Courier:</b>
  <%= @charge.courier_id %>
</p>

<p>
  <b>From pin:</b>
  <%= @charge.from_pin %>
</p>

<p>
  <b>:</b>
  <%= @charge. %>
</p>

<p>
  <b>To pin:</b>
  <%= @charge.to_pin %>
</p>

<p>
  <b>For 250gms:</b>
  <%= @charge.for_250gms %>
</p>

<p>
  <b>:</b>
  <%= @charge. %>
</p>

<p>
  <b>For 500gms:</b>
  <%= @charge.for_500gms %>
</p>

<p>
  <b>:</b>
  <%= @charge. %>
</p>

<p>
  <b>For 1kg:</b>
  <%= @charge.for_1kg %>
</p>

<p>
  <b>:</b>
  <%= @charge. %>
</p>


<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
